//---------------------------------\\
//----------Table of Content-------\\
//---------------------------------\\

// 01 Color Variables

$gray-lightest:#f2f2f2;
$gray-lighter:#ccc;
$gray-light:#aaa;
$gray:#777;
$gray-dark:#555;
$gray-darker:#444;
$gray-darkest:#222;

$blue-light:#335692;
$blue:#002C77;
$blue-dark:#00163C;

$link-light:#1a99df;
$link:#157ab1;
$link-dark:#10567b;

$cyan-light:#EAF8FD;
$cyan:#4FC1EF;

$orange-light:#FF9433;
$orange:#FF7900;
$orange-dark:#BF5B00;

$red-light:#F9DBDC;
$red: #DC1C24;
$red-dark: #A5151B;

$green-light:#E6F1CF;
$green: #DC1C24;
$green-dark:#415D08;


$white:#fff;

$black:#000;
