//---------------------------------\\
//----------Table of Content-------\\
//---------------------------------\\

// 01 Splash Flags

[class*="flag-"]{
	display: inline-block;
	background: url('images/sprite-splash.png') no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	text-align: left;
}
 
.flag-ar {
    background-position: -0px -0px;
    width: 56px;
    height: 56px;
}
.flag-br {
    background-position: -0px -56px;
    width: 56px;
    height: 56px;
}
.flag-mx {
    background-position: -0px -112px;
    width: 56px;
    height: 56px;
}
.flag-bo {
    background-position: -0px -168px;
    width: 48px;
    height: 48px;
}
.flag-cl {
    background-position: -0px -216px;
    width: 48px;
    height: 48px;
}
.flag-co {
    background-position: -0px -264px;
    width: 48px;
    height: 48px;
}
.flag-cr {
    background-position: -0px -312px;
    width: 48px;
    height: 48px;
}
.flag-do {
    background-position: -0px -360px;
    width: 48px;
    height: 48px;
}
.flag-ec {
    background-position: -0px -408px;
    width: 48px;
    height: 48px;
}
.flag-gt {
    background-position: -0px -456px;
    width: 48px;
    height: 48px;
}
.flag-hn {
    background-position: -0px -504px;
    width: 48px;
    height: 48px;
}
.flag-ni {
    background-position: -0px -552px;
    width: 48px;
    height: 48px;
}
.flag-pa {
    background-position: -0px -600px;
    width: 48px;
    height: 48px;
}
.flag-pe {
    background-position: -0px -648px;
    width: 48px;
    height: 48px;
}
.flag-pr {
    background-position: -0px -696px;
    width: 48px;
    height: 48px;
}
.flag-sv {
    background-position: -0px -744px;
    width: 48px;
    height: 48px;
}
.flag-us {
    background-position: -0px -792px;
    width: 48px;
    height: 48px;
}
.flag-uy {
    background-position: -0px -840px;
    width: 48px;
    height: 48px;
}
.flag-py {
    background-position: -0px -888px;
    width: 48px;
    height: 48px;
}
