@font-face {
	font-family: 'almundo';
	src:url('fonts/almundo.eot?-wojnng');
	src:url('fonts/almundo.eot?#iefix-wojnng') format('embedded-opentype'),
		url('fonts/almundo.woff?-wojnng') format('woff'),
		url('fonts/almundo.ttf?-wojnng') format('truetype'),
		url('fonts/almundo.svg?-wojnng#almundo') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'almundo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-club-al-mundo:before {
	//content: "\e62a";
	content: "\e600";
}
.icon-login:before {
	//content: "\e613";
	content: "\e600";
}
.icon-bell:before {
	content: "\e600";
}
.icon-bus:before {
	content: "\e601";
}
.icon-wifi:before {
	content: "\e602";
}
.icon-gift:before {
	content: "\e603";
}
.icon-cocktail:before {
	content: "\e604";
}
.icon-flights:before {
	content: "\e605";
}
.icon-hotels:before {
	content: "\e606";
}
.icon-packeges:before {
	content: "\e607";
}
.icon-cruises:before {
	content: "\e608";
}
.icon-cars:before {
	content: "\e609";
}
.icon-gateways:before {
	content: "\e60a";
}
.icon-disney:before {
	content: "\e60b";
}
.icon-trains:before {
	content: "\e60c";
}
.icon-excursions:before {
	content: "\e60d";
}
.icon-assistance:before {
	content: "\e60e";
}
.icon-destinations:before {
	content: "\e60f";
}
.icon-facebook:before {
	content: "\e610";
}
.icon-twitter:before {
	content: "\e611";
}
.icon-googleplus:before {
	content: "\e612";
}
.icon-phone:before {
	content: "\e614";
}
.icon-branches:before {
	content: "\e615";
}
.icon-flight-back:before {
	content: "\e616";
}
.icon-arrow-right:before {
	content: "\e617";
}
.icon-arrow-left:before {
	content: "\e618";
}
.icon-arrow-up:before {
	content: "\e619";
}
.icon-arrow-down:before {
	content: "\e61a";
}
.icon-calendar:before {
	content: "\e61b";
}
.icon-calendar-back:before {
	content: "\e61c";
}
.icon-clock:before {
	content: "\e61d";
}
.icon-credit-card:before {
	content: "\e61e";
}
.icon-len:before {
	content: "\e61f";
}
.icon-zoom-in:before {
	content: "\e620";
}
.icon-zoom-out:before {
	content: "\e621";
}
.icon-star:before {
	content: "\e622";
}
.icon-exclamation-circle:before {
	content: "\e623";
}
.icon-check-circle:before {
	content: "\e624";
}
.icon-close-circle:before {
	content: "\e625";
}
.icon-hambuerger:before {
	content: "\e626";
}
.icon-iso-almundo:before {
	content: "\e627";
}
.icon-logo-almundo:before {
	content: "\e628";
}
.icon-logo-com:before {
	content: "\e629";
}

